## Reinforcement

### R5.1

<img src="DA\R51.png">

**Comparing length values at which additional bytes are allocated**

On both systems, additional bytes are allocated at the same length thresholds (except for length 25). 

**Comparing size of byte allocation**

Except for lists of length 0 and 25, the same number of bytes are allocated at each length threshold.

| Length Threshold |Number of additional bytes allocated|
| ---|--- |
| 0| Differing amount |
|1 |32 |
| 5| 32|
|9 |64 |
|17 | 64|
|25 | 64 on my system, none on authors'|

In [46]:
import sys
from pandas import DataFrame

data = []
results = []
for i in range(0,27):
    length = len(data)
    bytes = sys.getsizeof(data)
    results.append({'length': length, "Size in bytes": bytes})
    data.append(None)

tabular_results = (DataFrame(results)
                .set_index('length', drop=True)
                .T
                .style.background_gradient(cmap='coolwarm', axis=1))

my_system_results = tabular_results.to_html()
display(tabular_results)

### R-5.2

<img src='DA\r52.png'>

In [62]:
import sys

data = []
array_sizes_at_max_capacity = []
allocated_bytes = sys.getsizeof(data)

for array_size in range(1,26):
    data.append(None)
    # If the array had to resize to fit the new element, then capacity was 
    # exhausted at the previous size of the array.
    if allocated_bytes != (allocated_bytes := sys.getsizeof(data)):
        array_sizes_at_max_capacity.append(array_size -1) 

print(array_sizes_at_max_capacity)

[0, 4, 8, 16, 24]

### R-5.3

In [94]:
import sys
from pandas import DataFrame
import math

data = []
results = []
allocated_bytes = sys.getsizeof(data)

for array_size in range(1,501):
    data.append(None)
    change_in_bytes = abs(allocated_bytes - (allocated_bytes := sys.getsizeof(data)))
    if change_in_bytes:
        results.append(
            {"length": array_size, 
             "bytes": allocated_bytes,
            "change of bytes": change_in_bytes,
            "log_2(change of bytes)": math.log2(change_in_bytes)
        })

for array_size in range(499,0, -1):
    data.pop()
    change_in_bytes = allocated_bytes - (allocated_bytes := sys.getsizeof(data))
    if change_in_bytes:
        results.append(
            {"length": array_size, 
             "bytes": allocated_bytes,
            "change of bytes": - change_in_bytes,
             "log_2(change of bytes)": math.log2(change_in_bytes) 
        })

tabulated_results = DataFrame(results)

tabulated_results

    length  bytes  change of bytes  log_2(change of bytes)
0        1     88               32                5.000000
1        5    120               32                5.000000
2        9    184               64                6.000000
3       17    248               64                6.000000
4       25    312               64                6.000000
5       33    376               64                6.000000
6       41    472               96                6.584963
7       53    568               96                6.584963
8       65    664               96                6.584963
9       77    792              128                7.000000
10      93    920              128                7.000000
11     109   1080              160                7.321928
12     129   1240              160                7.321928
13     149   1432              192                7.584963
14     173   1656              224                7.807355
15     201   1912              256                8.000000
16     233   2200              288                8.169925
17     269   2520              320                8.321928
18     309   2872              352                8.459432
19     353   3256              384                8.584963
20     401   3704              448                8.807355
21     457   4216              512                9.000000
22     259   2424            -1792               10.807355
23     147   1400            -1024               10.000000
24      83    824             -576                9.169925
25      47    504             -320                8.321928
26      27    344             -160                7.321928
27      17    248              -96                6.584963
28      11    184              -64                6.000000
29       7    152              -32                5.000000
30       5    120              -32                5.000000
31       1     88              -32                5.000000

In [86]:
import sys


def array_grow_shrink(n, lower_limit = 0.2):
    data = []
    size_old = 0
    current_limit = 10
    for i in range(n):
        if i == current_limit:
            while len(data)> current_limit*lower_limit:
                data.pop()
                size = sys.getsizeof(data)
                print(len(data), size, end = '\t\t')
                if size<size_old:
                    print ('Size decreased from:', size_old, size)
                else: print("")
                size_old = size
            current_limit *= 10
        data.append(None)
        
        
array_grow_shrink(11)

9 184
8 184
7 152		Size decreased from: 184 152
6 152
5 120		Size decreased from: 152 120
4 120
3 120
2 120